// COLOR PALETTE

$clr1: #0341ae;
$clr2: #72cb3b;
$clr3: #ffd500;
$clr4: #ff971c;
$clr5: #ff3213;
$btn-primary-color: #27ae60;

// LAYOUT BREAKPOINTS

$break-extra-small: 380px;
$break-narrow: 500px;
$break-mobile-normal: 600px;
$break-normal: 700px;
$break-tablet: 800px;
$break-wide: 960px;
